@charset "UTF-8";
@font-face {
    font-family: 'gistesy';
    src: url('../fonts/gistesy.ttf') format('truetype');
    
    font-family: 'Fira Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content_whatsapp{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  }
  
  .whatsapp_static{
    width: 60px;
    position: fixed;
    margin-top: 40vh;
    transition: 0.5s;
    z-index: 100;
}
  
.whatsapp_static:hover{
    width: 65px;
    transition: 0.5s;
}

.contentclientes{
    overflow: hidden;
}

.clientes{
    margin-left: 30px;
    width: 100%;
   
}

.celumeli{
    width: 70%;
    margin: auto;
    display: flex;
}

.lu{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 30px;
    transition: 1s;
}

.lu:hover{
    color: #FABB17;
    transition: 1s;
}

.p{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.contentlineig{
    overflow: hidden;
}

.lineig{
    margin-right: 20px;
    width: 100%;
    margin-top: 150px;
}

.instagram1{
    display: flex;
    width: 240px;
    margin: auto;
}

.instagram2{
    display: flex;
    width: 240px;
    margin: auto;
}


.grid{
    display: grid;
    grid-template-columns: min-content repeat();
    grid-template-rows: min-content min-content;
    grid-template-areas: 
    "img title"
    "img description";
    margin-top: 200px;

}

.grid_img{
    grid-area: img;
    margin-left: 20px;
}

.grid_title{
    grid-area: title;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 50px;
    transition: 1s;
    color: rgb(0, 0, 0);
}

.grid_title:hover{
    color: #FABB17;
    transition: 1s;
}

.grid_description{
    grid-area: description;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 30px;
}



.grid2{
    display: grid;
    grid-template-columns: min-content repeat();
    grid-template-rows: min-content min-content;
    grid-template-areas: 
    "title img"
    "description img";
    margin-top: 200px;
}

.grid_description2{
    grid-area: description;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
}

/*---------------phone-and-tablet-----------------*/
@media (min-width: 431px) and (max-width: 670px) {
  
    /*------------------conoceme-------------*/

    .grid{
        display: flex;
        flex-direction: column;
    }

    .grid2{
        display: flex;
        flex-direction: column;
    }

    .grid_img{
        margin: auto;
        width: 430px;
    }

    .grid_title{
        font-size: 30px;
        margin-top: 59px;
    }

    .grid_description{
        margin-right: 50px;
        margin-left: 50px;
    }

    .grid_description2{
        margin-right: 50px;
        margin-left: 50px;
    }

    .p{
        margin-left: 50px;
        margin-right: 50px;
    }

    .celumeli{
        width: 80%;
        margin-top: 50px;
        margin-bottom: 10px;
    }

}

/*-------------------phone-------------------*/
@media screen and (max-width: 430px) {
  
    /*-----------------conoceme---------------*/

    .grid{
        display: flex;
        flex-direction: column;
    }

    .grid2{
        display: flex;
        flex-direction: column;
    }

    .grid_img{
        margin: auto;
        width: 320px;
    }

    .grid_title{
        font-size: 23px;
        margin-top: 59px;
    }

    .grid_description{
        margin-right: 50px;
        margin-left: 50px;
    }

    .grid_description2{
        margin-right: 50px;
        margin-left: 50px;
    }

    .p{
        margin-left: 50px;
        margin-right: 50px;
    }

    .celumeli{
        width: 90%;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .lu{
        font-size: 23px;
    }

    .clientes{
        width: 130%;
    }

}
